<div class="container">

            <a href="#"  style="margin-left: 10px;" class="btn btn-secondary btn-md active" role="button" aria-pressed="true" routerLink="/regulamin">REGULAMIN</a>

            <a href="#" style="margin-left: 10px;" class="btn btn-secondary btn-md active" role="button" aria-pressed="true" routerLink="/onas">O NAS</a>

            <a href="#"  style="margin-left: 10px;" class="btn btn-secondary btn-md active" role="button" aria-pressed="true" routerLink="/kontakt">KONTAKT</a>

        <div class="col-xl-4" style="float: right;" >
            <p>2021  github.com/michalpieszczyk<p>
        </div>
        <br>
        <br>
    
</div>

