<div class="container">
    <div class="row">
        <div class="col-xl-6">
            <h2>INFO FRONT PAGE</h2> 
        </div>
        <div class="col-xl-5">
        <form>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Usługa lub lokalizacja">
              <div class="input-group-btn">
                <button class="btn btn-secondary" type="submit">Szukaj</button>
              </div>
            </div>
          </form>
        </div>
    </div>
    <br>
<div class="row" style="margin-left: auto;">
    <div class="col-md-3">
            <a href="#" class="link-unstyled"  routerLink="/reklamacja">
                <div class="card" style="width: 13rem;">
                    <img class="card-img-top" src="assets/images/bullhorn.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-text" style="text-align: center;">Reklamacje</h5>
                    </div>
                </div>
            </a>
          </div>
    <div class="col-md-3">
        <a class="link-unstyled" href="#"  routerLink="/magazyn">
            <div class="card" style="width: 13rem;">
                <img class="card-img-top" src="assets/images/boxes.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-text" style="text-align: center;">Magazyn zwrotów</h5>
                </div>
            </div>
        </a>
      </div>
 
      <div class="col-md-3">
        <a class="link-unstyled" href="./lista/kosmetyczka">
            <div class="card" style="width: 13rem;">
                <img class="card-img-top" src="assets/images/placeholder.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-text" style="text-align: center;">Placeholder</h5>
                </div>
            </div>
        </a>
      </div>

      <div class="col-md-3">
        <a class="link-unstyled" href="./lista/weterynarz">
            <div class="card" style="width: 13rem;">
                <img class="card-img-top" src="assets/images/placeholder.jpg" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-text" style="text-align: center;">Placeholder</h5>
                </div>
            </div>
        </a>
      </div>

      <div class="container2" style="margin-top: 50px; margin-bottom: 50px; width: 100%;">
        <img src="https://meble-focus.pl/img/cms/Focus_new/Home_service_block/923.jpg" width="96%" style="border: 4px solid #505050" class="img-rounded" alt="Zarezerwuj termin na wybrane usługi">
        <div class="centeredtxt"><h6 style="color: black;">W ŁATWY SPOSÓB ZARZĄDZAJ REKLAMACJAMI I ZWROTAMI</h6></div>
        </div>
    </div>

<!--
    <div class="row">
        <div class="col-xl-6">
            <h2>Wyróżnione Usługi</h2> 
        </div>
        
    </div>
    <br>
 <div class="row" style="margin-left: auto;">
    <div class="col-md-3">
            <a class="link-unstyled" href="#">
                <div class="card" style="width: 13rem;">
                    <img class="card-img-top" src="https://meble-focus.pl/img/cms/Focus_new/Home_service_block/elektryk.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h4 class="card-text" style="text-align: center;">PLACEHOLDER</h4>
                    </div>
                </div>
            </a>
          </div>
    <div class="col-md-3">
        <a class="link-unstyled" href="#">
            <div class="card" style="width: 13rem;">
                <img class="card-img-top" src="https://meble-focus.pl/img/cms/Focus_new/Home_service_block/elektryk.jpg" alt="Card image cap">
                <div class="card-body">
                <h4 class="card-text" style="text-align: center;">PLACEHOLDER</h4>
                </div>
            </div>
        </a>
      </div>
 
      <div class="col-md-3">
        <a class="link-unstyled" href="#">
            <div class="card" style="width: 13rem;">
                <img class="card-img-top" src="https://meble-focus.pl/img/cms/Focus_new/Home_service_block/elektryk.jpg" alt="Card image cap">
                <div class="card-body">
                <h4 class="card-text" style="text-align: center;">PLACEHOLDER</h4>
                </div>
            </div>
        </a>
      </div>

      <div class="col-md-3">
        <a class="link-unstyled" href="#">
            <div class="card" style="width: 13rem;">
                <img class="card-img-top" src="https://meble-focus.pl/img/cms/Focus_new/Home_service_block/elektryk.jpg" alt="Card image cap">
                <div class="card-body">
                <h4 class="card-text" style="text-align: center;">PLACEHOLDER</h4>
                </div>
            </div>
        </a>
      </div> -->
      <div class="col-xl-6" style="margin-bottom: 20px;"></div>
  <!--
      https://meble-focus.pl/img/cms/Focus_new/Home_service_block/302x302wet.jpg
      https://meble-focus.pl/img/cms/Focus_new/Home_service_block/fizjo.jpg
      https://meble-focus.pl/img/cms/Focus_new/Home_service_block/923.jpg
    https://meble-focus.pl/img/cms/Focus_new/Home_service_block/elektryk.jpg
    https://meble-focus.pl/img/cms/Focus_new/Home_service_block/fryz923.jpg
  -->