<div class="container">
      <div class="container2" style="margin-top: 50px; margin-bottom: 50px; width: 100%;">
        <img src="https://meble-focus.pl/img/cms/Focus_new/Home_service_block/923.jpg" width="96%" style="border: 4px solid #505050" class="img-rounded" alt="Zarezerwuj termin na wybrane usługi">
        <div class="centeredtxt"><h6 style="color: black;">W ŁATWY SPOSÓB ZARZĄDZAJ REKLAMACJAMI I ZWROTAMI</h6></div>
        </div>
        <a href="#" class="link-unstyled"  routerLink="/reklamacja">
            <button type="button" class="btn btn-primary btn-lg btn-block">Panel Reklamacji</button>
        </a><br>
        <p style="text-align: center">W panelu reklamacji znajdziemy wszystkie zgłoszenia reklamacyjne które można przefiltrować zgodnie z ich obecnym statusem.<br>
        Możemy dodawać nowe zgłoszenia reklamacyjne i edytować już istniejące.</p><br><br>
        <a href="#" class="link-unstyled"  routerLink="/magazyn">
            <button type="button" class="btn btn-secondary  btn-lg btn-block">Panel Magazynu Zwrotów</button>
        </a><br>
        <p style="text-align: center">W tym panelu znajdziemy spis produktów z magazynu zwrotów.<br>
            Możemy dodawać i edytować produkty na stanie. Dla każdego produktu możemy wygenerować plik PDF z naklejką. <br>
            Każda naklejka posiada swój kod QR który po zeskanowaniu przeniesie nas na stronę produktu.</p><br><br>
    </div>
      <div class="col-xl-6" style="margin-bottom: 20px;"></div>
 